body {
	background: #CBC6C6;
}

nav {
	background: #2181AE;
	position: fixed;
	z-index: 1;
}

table {
	color: #2181AE;
}

.colorFooter {
	background-color: #2181AE;
}

.enlinea{
	display: inline-block;
}

.activador{
	cursor: pointer;
}

.titulo {
	font-size: 24px;
  	font-weight: 300;
  	color: #F9DA0D;
}

.tituloNav {
	font-size: 20px;
	margin-right: 15px;
	color: #F9DA0D;
}